<h2>Проект <%= title %></h2>
<div class="row clearfix">
  <div class="col-md-9 pull-left ep-mod-hp-image-viewer" ></div>
  <div class="col-md-3 ep-mod-hp-detailed-overview">
    <h3>Общие параметры</h3>
    <table class="table">
      <tr>
        <td>Площадь</td>
        <td class="text-center"><%= _model.getFloorsArea() %> м<sup>2</sup></td>
      </tr>
      <tr>
        <td>Спальни</td>
        <td class="text-center"><%= _model.getRoomsNumber( 'bedroom' ) %> шт</td>
      </tr>
      <tr>
        <td>Санузлы</td>
        <td class="text-center"><%= _model.getRoomsNumber( 'restroom' ) %> шт</td>
      </tr>
    </table>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-4 pull-left">

    <% var roman_numerals = [
    'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'
    ]; %>

    <% var index = 0; %>

    <h3>Помещения</h3>

    <table class="table">

      <thead class="text-primary">
        <th class="text-center">№ п/п</th>
        <th>Помещение</th>
        <th class="text-center">Площадь, м<sup>2</sup></th>
      </thead>

      <tr class="text-center small">
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>

      <% for (var floor in floors) { %>

      <tr class="bg-primary">
        <td class="text-center"><%= roman_numerals[ index ] %></td>
        <td colspan="2">
          <%= value_name[ floor ] %>
        </td>
      </tr>

        <% floors[ floor ].forEach( function ( room, index ) { %>

          <tr class="<%= 'ep-mod-hp-project-detailed-tr-' +
            ( index%2 === 1 ? 'even' : 'odd' ) %>">
            <td class="text-center"><%= index + 1 %></td>
            <td><%= value_name[ room.type ] %></td>
            <td class="text-center"><%= room.area %></td>
          </tr>

        <% }); %>

      <tr class="text-primary">
        <td></td>
        <td><strong>Итого</strong></td>
        <td class="text-center">
          <strong><%= _model.getFloorArea( floor ) %></strong>
        </td>
      </tr>

      <% index++; %>

      <% } %>
      <tfoot class="bg-primary">
        <td></td>
        <td>ВСЕГО</td>
        <td class="text-center"><%= _model.getFloorsArea() %></td>
      </tfoot>

    </table>

  </div>
  <div class="col-md-4 pull-left">
    <h3>Конструкции</h3>

    <% index = 0; %>

    <table class="table">

      <thead class="text-primary">
        <th class="text-center">№ п/п</th>
        <th>Наименование</th>
        <th class="text-center">Ед.изм</th>
        <th class="text-center">Объем, ед.изм.</th>
      </thead>

      <tr class="text-center small">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>


      <% structures.forEach( function ( structure, index ) { %>

      <tr class="bg-info">
        <td class="text-center"><%= roman_numerals[ index ] %></td>
        <td colspan="3">
          <%= value_name[ structure.type ] %>
        </td>
      </tr>

        <% if ( structure.hasOwnProperty( 'variants' ) ) {  %>

      <tr>
        <td></td>
        <td class="text-info"><%= value_name[ 'variants' ] %></td>
      </tr>

          <% structure.variants.forEach( function ( variant, index ) { %>

      <tr class="<%= 'ep-mod-hp-project-detailed-tr-' +
            ( index%2 === 0 ? 'even' : 'odd' ) %>">
        <td class="text-center"><%= index + 1 %></td>
        <td><%= value_name[ variant.type ] %></td>
        <td class="text-center"><%= value_name[ variant.unit ] %></td>
        <td class="text-center"><%= variant.volume %></td>
      </tr>

          <% } ); %>

        <% } %>

        <% if ( structure.hasOwnProperty( 'subs' ) ) {  %>

          <% structure.subs.forEach( function ( substructure, index ) { %>

      <tr  class="<%= 'ep-mod-hp-project-detailed-tr-' +
            ( index%2 === 1 ? 'even' : 'odd' ) %>">
        <td class="text-center"><%= index + 1 %></td>
        <td><%= value_name[ substructure.type ] %></td>
        <td class="text-center"><%= value_name[ substructure.unit ] %></td>
        <td class="text-center"><%= substructure.volume %></td>
      </tr>

          <% } ); %>

        <% } %>

      <% } ); %>

    </table>

  </div>
  <div class="col-md-4 pull-left">
    <h3>Стоимость</h3>
  </div>
</div>