.ep-mod-hp-filters {
  padding : 3em 2em 2em 2em;
}

.ep-mod-hp-filters form {
  padding: 1em;
  background-color: #c7ddef;
  border-radius: 1em;
}

.ep-mod-hp-filters label {
  font-weight: normal;
}

.ep-mod-hp-filters label:hover {
  cursor: pointer;
}

.ep-mod-hp-filter-min-max input {
  text-align: center;
  width: 4em;
}
.ep-mod-hp-filter-min-max div {
  text-align: center;
  margin-bottom: 1em;
}

.ep-mod-hp-filter-min-max .ep-mod-hp-filter-min-max-slider {
  width: 80%;
  margin: 0 auto;
}

.ep-mod-hp-filters-submit,
.ep-mod-hp-filters-reset {
  display: block;
  width: 80%;
  margin: 0 auto 0.5em auto;
  border-radius: 0.25em;
}

.ep-mod-hp-filter {
  padding-bottom: 2em;
}

.ep-mod-hp-filter {
  padding-bottom: 2em;
}

.ep-mod-hp-project-brief {
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 1em;
}

.ep-mod-hp-project-brief:hover {
  border-color: #c7ddef;
}

.ep-mod-hp-project-brief a {
  text-decoration: none;
  color: inherit;
}

.ep-mod-hp-project-brief a:hover {
  color: inherit;
}

.ep-mod-hp-project-brief img {
  border-radius: 0.5em;
}


/****************************/
/*                          */
/*     Project detailed     */
/*                          */
/****************************/

.ep-mod-hp-project-detailed tfoot {
  font-weight : bold;
}

.ep-mod-hp-project-detailed-tr-even {
  background-color : #f9f9f9;
}

#ep-mod-hp-photo-viewer-main {
  position   : relative;
  height     : 300px;
  overflow   : hidden;
}

#ep-mod-hp-photo-viewer-main.ep-mod-hp-is-loading:after {
  content    : 'загружается...';
  position   : absolute;
  top        : 150px;
  right      : 150px;
}

#ep-mod-hp-photo-viewer-main img {
  position   : absolute;
  max-width  : 100%;
  max-height : 100%;
  top        : 50%;
  left       : 50%;
}

#ep-mod-hp-photo-viewer-thumbnails a.ep-mod-hp-active {
  opacity    : 0.3;
}